
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Home Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/Home/">Home</a></li>
          <li class="breadcrumb-item active">Index</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section>
<div class="align-content-center">
  <p>Proje oluşturuldu buradan sonrası sizde</p>
</div>
</section>
