@model List<EntityLayer.Concrete.Notification>

@{
    ViewBag.Title = "Bütün Bildirimlerim";
    Layout = "_Layout";
}

@section Styles{
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#employeeListDataTable').DataTable();
        });
    </script>
    <script>
     $(function () {
         var PlaceHolderElement = $('#PlaceHolderHere');
         $('button[data-toggle="ajax-modal"]').click(function (event)
         {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
               PlaceHolderElement.html(data);
               PlaceHolderElement.find('.modal').modal('show');
                }
                )
                
         })
         PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
             var form = $(this).parents('.modal').find('form');
             var actionUrl = form.attr('action');
             var sendData = form.serialize();
             $.post(actionUrl,sendData).done(function(data){
             PlaceHolderElement.find('.modal').modal('hide');    
             })
         })
     })
    </script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Bütün Bildirimlerim</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/">Home</a></li>
                    <li class="breadcrumb-item active">SeeAllNotification</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section>
<div id="accordion" style="margin: 20px;">
<div class="card shadow mt-5">
    <div class="card-header bg-info">
        <a href="#collapseCompanyList" class="card-link p-1" data-toggle="collapse">
            Bildirim Listesi
        </a>
    </div>
    <div id="collapseCompanyList" class="collapse show">
        <div class="card-body">
            <div class="row table-responsive-sm">
                <div class="col-md-12 ">
                    <table id="employeeListDataTable" class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>Bildirim Başlığı</th>
                            <th>Bildirim İçeriği</th>
                            <th>Bildirim Tarihi</th>
                            <th>Bildirim Okunma Durumu</th>
                            <th>Bildirim İçeriğine Git</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Header</td>
                                <td>@item.Content</td>
                                <td>@item.Date</td>
                                @if(item.isReaded==true)
                                 {
                                                                                                            <td><i class="fas fa-circle" style="color:green;"></i></td>
                                                                                                        }
                                else
                                {
                                    <td><i class="fas fa-circle" style="color:red;"></i></td>
                                }
                                <td>
                                    <a href="@item.Url" class="btn btn-primary btn-sm">Git</a>
                                </td>   
                            </tr>
                        }
                        </tbody>
                    </table>
                            
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>