@model EntityLayer.DTOs.EditCustomerDTO

<div class="modal fade" id="editCustomer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editEmployeeLabel">Müşteri Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            
            <div class="modal-body">
                <form action="EditCustomer">
                    <div class="form-group">
                        <label asp-for="Name">Müşteri Adı</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name"></span>
                    </div>
                    
                    <input type="hidden" asp-for="CustomerID" />
                      
                    
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-success" data-save="modal">Kaydet</button>
            </div>
        </div>
    </div>
</div>