@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EntityLayer.DTOs.AnnouncementDTO

@{
    ViewBag.Title = "Duyuru Yap";
    Layout = "_Layout";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Duyuru Yap</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/">Admin</a></li>
                    <li class="breadcrumb-item active">MakeAnAnnouncement</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section>
<div id="accordion" style="margin: 20px;">
    <div class="card shadow mt-5">
        <div class="card-header bg-gradient-gray-dark">
            <h3 class="card-title">
                Duyuru Yap
            </h3>
        </div>
        <div id="collapseCompanyCreate">
            <form asp-controller="Admin" asp-action="MakeAnAnnouncement" method="post">
                <div class="card-body shadow">
                                
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                            </div>
                                        </div>
                    <div class="form-group row">
                        <label asp-for="Header" class="col-sm-1 col-form-label">Başlık:</label>
                        <div class="col-sm-4">
                            <input class="form-control" asp-for="Header" />
                            <span asp-validation-for="Header" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label asp-for="Content" class="col-sm-1 col-form-label">İçerik:</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" id="Content" name="Content"  asp-for="Content" rows="2" cols="50">
                                                </textarea>
                                                    
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                    
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-success">Duyuru Yap</button>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
