@model EntityLayer.DTOs.EmployeeCalendarPlanCreateDTO

@{
    ViewBag.Title = "Etkinlik Düzenle";
    Layout = "_Layout";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Etkinliği Düzenle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Designer/">Designer</a></li>
                    <li class="breadcrumb-item active">EmployeeCalendarPlanEdit</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section>
    <div id="accordion" style="margin: 20px;">
        <div class="card shadow mt-5">
            <div class="card-header bg-dark">
                <a href="#collapseCompanyCreate" class="card-link p-1">
                  Etkinliği Düzenle
                </a>
            </div>
            <div id="collapseCompanyCreate">
                <form asp-controller="Designer" asp-action="EmployeeCalendarPlanEdit" method="post">
                    <div class="card-body shadow">
                
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="title" class="col-sm-1 col-form-label">Başlık:</label>
                            <div class="col-sm-4">
                                <input class="form-control" asp-for="title" />
                                <span asp-validation-for="title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="start" class="col-sm-1 col-form-label">Başlangıç Tarihi:</label>
                            <div class="col-sm-4">
                                <input class="form-control" asp-for="start" />
                                <span asp-validation-for="start" class="text-danger"></span>
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label asp-for="end" class="col-sm-1 col-form-label">Bitiş Tarihi:</label>
                            <div class="col-sm-4">
                                <input class="form-control" asp-for="end" />
                                <span asp-validation-for="end" class="text-danger"></span>
                            </div>
                        </div>
                        
                         <div class="form-group row">
                                                                                                   <label asp-for="description" class="col-sm-1 col-form-label">Açıklama:</label>
                                                                                                   <div class="col-sm-4">
                                                                                                       <textarea class="form-control" id="description" name="description"  asp-for="description" rows="2" cols="50">
                                                                                                   </textarea>
                                                                                                       
                                                                                                       <span asp-validation-for="description" class="text-danger"></span>
                                                                                                   </div>
                                                                                               </div>
                        
                        <input type="hidden" asp-for="EmployeeID" value="@Model.EmployeeID"/>
                        <input type="hidden" asp-for="EventID" value="@Model.EventID"/>

                        <div class="form-group row">
                            <div class="col-sm-10 offset-sm-2">
                                <button type="submit" class="btn btn-success">Plan Düzenle</button>
                                 <a href="@Url.Action("EmployeeCalendarPlanDelete","Designer",new {EventId =Model.EventID})" class="btn btn-danger">Planı Sil</a>
                            </div>
                        </div>
                

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>