<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
        <i class="far fa-bell"></i>
        <span class="badge badge-danger navbar-badge">3</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
        <a href="#" class="dropdown-item">
     
            <div class="media">
                <div class="media-body">
                    <h3 class="dropdown-item-title">
                        Mert Özler
                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                    </h3>
                    <p class="text-sm">Bildirim içeriği...</p>
                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> Tarih</p>
                </div>
            </div>
    
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
      
    
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
    </div>
</li>